# Shotgun EventDaemon Configure
# Site URL and Credential
SG_ED_SITE_URL=YOUR_SHOTGUN_URL
SG_ED_SCRIPT_NAME=SCRIPT_USER
SG_ED_API_KEY=SCRIPT_KEY

# Email
SG_ED_EMAIL_USERNAME=EMAIL_USER_NAME
SG_ED_EMAIL_PASSWORD=EMAIL_PASSWORD

# Plugin Configure
# version_status_update_task_status
SGDAEMON_VSUTS_NAME=SCRIPT_USER
SGDAEMON_VSUTS_KEY=SCRIPT_KEY